<br>
<br>
<footer class="page-footer white">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
            <h5 class="black-text">INSTITUTO VIA DISEÑO</h5>
            <p class="grey-text text-darken-3"><strong>Ubicación:</strong> Juan Caballero y Osio 398, Calesa 2da Secc, 76020 Santiago de Querétaro, Qro.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="black-text">Contacto</h5>
          <ul>
            <li><a class="grey-text text-darken-2" href="https://ivd.edu.mx/">Pagina Oficial</a></li>
            <li><a class="grey-text text-darken-2" href="https://www.instagram.com/viadiseno/">Instagram</a></li>
            <li><a class="grey-text text-darken-2" href="https://www.facebook.com/profile.php?id=100064856223584&locale=es_LA">Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>