<%- include('partials/head.ejs') %>

<div class="container">
  <div class="row">
    <main class="col s9">
      <div class="container">
        <h4 class="center-align">Buscar Alumno:</h4>
        <div class="row">
          <div class="col s12">
            <form action="/search" method="GET">
              <div class="input-field">
                <i class="material-icons prefix">search</i>
                <input id="search" type="text" class="validate" name="query">
                <label for="search">Buscar Alumno (Matrícula, Email)</label>
                <button class="btn waves-effect waves-light" type="submit">Buscar</button>
              </div>
            </form>
          </div>
        </div>

        <table class="striped">
          <thead>
            <tr>
              <th>3er Semestre</th>
              <th>Grupo</th>
              <th>Hora</th>
              <th>Creditos</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Historia del Arte</td>
              <td>221</td>
              <td>11:00 a 13:00 Lu/Ma</td>
              <td>8</td>
            </tr>
          </tbody>
        </table>
      </div>
    </main>
  
 
    <div class="col s3">
      <div class="card">
        <div class="card-content center">
          <i class="material-icons large">account_circle</i>
          <span class="card-title">Pablo Perez Castro</span>
          <p>2º Semestre - #10001</p>
          <p class="green-text">Status: Activo</p>
          <div class="center-align">
            <a href="/alumno/10001" class="waves-effect waves-light btn">Ver más información</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <main class="col s9">
      <div class="container">
        <ul class="tabs">
          <li class="tab col s6"><a href="#estado-cuenta">Estado de cuenta</a></li>
          <li class="tab col s6"><a href="#historial-pagos">Historial de pagos</a></li>
        </ul>
      </div>

      <div id="estado-cuenta" class="container">
        <table class="striped">
          <thead>
            <tr>
              <th>Fecha Limite</th>
              <th>Monto</th>
              <th>Concepto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>11/03/2027</td>
              <td>$5,472</td>
              <td>Colegiatura</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div id="historial-pagos" class="container">
        <table class="striped">
          <thead>
            <tr>
              <th>Forma de pago</th>
              <th>Monto</th>
              <th>Fecha</th>
              <th>Concepto</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Tarjeta de crédito</td>
              <td>$10</td>
              <td>01/08/2020</td>
              <td>Colegiatura</td>
            </tr>
            <tr>
              <td>Efectivo</td>
              <td>$15</td>
              <td>01/06/2020</td>
              <td>Colegiatura</td>
            </tr>
            <tr>
              <td>Tarjeta de crédito</td>
              <td>$67</td>
              <td>01/05/2020</td>
              <td>Colegiatura</td>
            </tr>
            <tr>
              <td>Tarjeta de crédito</td>
              <td>$480</td>
              <td>01/04/2020</td>
              <td>KARDEX</td>
            </tr>
            <tr>
              <td>Tarjeta de crédito</td>
              <td>$90</td>
              <td>01/03/2020</td>
              <td>Colegiatura</td>
            </tr>
          </tbody>
        </table>
    </main>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var tabs = document.querySelectorAll('.tabs');
    M.Tabs.init(tabs);
  });
</script>

<%- include('partials/footer.ejs') %>
