<%- include('partials/head.ejs', {
  isLoggedIn: isLoggedIn, 
  permisos: permisos,
  usuario: usuario
}) %>


  <div class='container'>
    <div class='eight'>
      <h1>verifica tu plan académico</h1>
      <p>Ciclo escolar AGO-FEB 2024 </p>
    </div>

    <div class ='row'>
    <div class='grid-container'>
      <div class=' grid-item grid-item-1 responsibe-table'>
        <div class='card'>
        <table class='striped'>
          <thead>
            <tr>
                <th>Nombre</th>
                <th>Grupo</th>
                <th>Hora</th>
                <th>Creditos</th>
            </tr>
          </thead>
  
          <tbody>
            <tr>
              <td>Fundamentos del Diseño</td>
              <td>221</td>
              <td>11:30 a 13:00 Lu/Ma</td>
              <td>8</td>
            </tr>
            <tr>
              <td>Textiles</td>
              <td>221</td>
              <td>11:30 a 13:00 Lu/Ma</td>
              <td>8</td>
            </tr>
            <tr>
             <td>Ilustración técnica de la Moda I</td>
              <td>221</td>
              <td>11:30 a 13:00 Lu/Ma</td>
              <td>8</td>
            </tr>
            <tr>
              <td>Teoría del Color</td>
              <td>221</td>
              <td>11:30 a 13:00 Lu/Ma</td>
              <td>8</td>
            </tr>
            <tr>
              <td>Trazo Plano de Prendas Básicas</td>
              <td>221</td>
              <td>11:30 a 13:00 Lu/Ma</td>
              <td>8</td>
            </tr>
          </tbody>
         </table>
      </div>
    </div>
      
      <div class='card'>
      <div class='grid-item grid-item-2 responsibe-table'>
        <table>
          <thead>
            <tr>
                <th>Plan De 6 Pagos</th>
                <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>20 de enero 2024</td>
              <td>$13,813.80</td>
            </tr>
            <tr>
              <td>5 de febrero 2024</td>
              <td>$9,249.24</td>
            </tr>
            <tr>
              <td>5 de marzo 2024</td>
              <td>$9,249.24</td>
            </tr>
            <tr>
              <td>5 de abril 2024</td>
              <td>$9,249.24</td>
            </tr>
            <tr>
              <td>5 de mayo 2024</td>
              <td>$9,249.24</td>
            </tr>
            <tr>
              <td>5 de junio 2024</td>
              <td>$9,249.24</td>
            </tr>
          </tbody>
                 
        </table>
        <br>
        <table>
          <thead>
            <tr>
                <th>TOTAL</th>
                <th></th>
            </tr>
          </thead>
  
          <tbody>
            <tr>
              <td>57x Créditos</td>
              <td>$250</td>
            </tr>
            <tr>
              <td></td>
              <td>$14,250</td>
            </tr>
          </tbody>       
         </table>
      </div>
    </div>
  </div>
<br><br>

    <div class='container'>
    <div class='row'>
    <div class='col s6'>
      <a href='#idrechazar' class='btn modal-trigger carmin'>Rechazar</a>
    </div>

    <div class='col s6'>
      <a href='/student-home' class='btn modal-trigger carmin'>Aceptar</a>
    </div>
    </div>
  </div>

      <div id='idrechazar' class='modal'>

        <div class='modal-content'>
          <h4>¡Ponte en contacto con nosostros!</h4>
          <p>Si no estas conforme con tu horario actual, comunicate con nosotros:<br>
            <strong>Correos:</strong> <br>
            Paco@gmail.com <br>
            <strong>Dirección</strong>
              Av. Insurgentes Sur 1234 <br>
              <strong>Horarios en oficina:</strong> <br>
              Lunes a Viernes de 9:00 a 18:00 <br>
              <strong>Teléfonos:</strong> <br>
              55 1234 5678 <br>
          </div>
          <div class='modal-footer'>
            <a href='' class='modal-close waves-effect waves-green btn-flat'>Entendido</a>
          </div>
        </div>
    </div>
</div>

<!-- Es nececsario tener la imagén aquí?? -->
<link rel='icon' href='/assets/img/logo-clear.png' type='image/png'/>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const elems = document.querySelectorAll('.modal');
      const instances = M.Modal.init(elems);
    });
  </script>

<%- include('partials/footer.ejs') %>
