<%- include('partials/head.ejs', {
  isLoggedIn: isLoggedIn, 
  permisos: permisos,
  usuario: usuario
}) %>


<br>
<br>
<div id="flayer">
    <div id="slayer">

<div class="container" id="content">
  
  <div class="row">
    <div class="col l3 m3 s12"></div>
    <div class="col l6 m6 s12">
      <form action="/users/login" method="POST">
           <div class="card-panel z-depth-6">
            <img src="/images/via.avif" height="70" class="center-image">
            <h5 class="center"><strong>Inicia Sesión</strong></h5> <br>
            <div class="row col l9 m8 s12 offset-l1">
                <div class="input-field">
                  <i class="material-icons prefix">email</i>
                  <label class="label" for="Email">Correo Academico</label>
                  <input class="input text" type="text" id="Email" name="Email">
                </div>
            </div>
            <div class="row col l9 m8 s12 offset-l1">
                <div class="input-field">
                  <i class="material-icons prefix">enhanced_encryption</i>
                  <label class="label" for="Password">Contraseña</label>
                  <input class="input text" type="password" id="Password" name="Password" autocomplete="current-password">
                </div>
            </div>
            <div class="container">
                <button class="boton" type="submit" name="submit">
                    <span class="text">ENTRAR</span>
                </button>
            </div>
            <div class="clearfix"></div>
         </div>
      </form>
    </div>
      <div class="col l3 m3 s12"></div>
  </div>
</div>
</div>
</div>

<%- include('partials/footer.ejs') %>
