<%- include('partials/head.ejs') %>

<%- include('partials/header.ejs') %>

<div class="container">
    <div class="row">
        <div class="col s12">
            <h4>REGISTRAR PAGO / COBRO</h4>
            <p style="font-size: large;">Buscar alumno:</p>
        </div>
    </div>

    <div class="row">
        <div class = "col s12">
            <table id="myTable" class="striped">
                <thead>
                    <tr>
                        <th>Alumno</th>
                        <th>Semestre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Daniel Martinez Campo</td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Oswaldo Lopez Casio</td>
                        <td>8</td>
                    </tr>
                    <tr>
                        <td>Regina Obregon Hernandez</td>
                        <td>2</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <br><br>

    <div>
        <div class="row">
            <div class="col s8">
                <div class="card">
                    <div class="card-content">
                            <span class="card-title">Registrar PAGO</span>
                        <div class="row">
                            <div class="col s10 offset-s1 input-field">
                                <input id="matricula" type="text" required="" autocomplete="off" class="validate">
                                <label for="matricula">Matricula</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s10 offset-s1 input-field">
                                <input id="concepto" type="text" required="" autocomplete="off" class="validate">
                                <label for="concepto">Concepto</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s10 offset-s1 input-field">
                                <input id="monto" type="number" required="" autocomplete="off" class="validate">
                                <label for="monto">Monto</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col 8 offset-s4">
                                <button id="RegistrarPagoBtn" class="btn waves-effect waves-light green" type="button">REGISTRAR PAGO</button>
                            </div>
                        </div>
                    </div>
                <br>
                </div>
            </div>

            <div class="col s4">
                <div class="card">
                    <div class="card-content">
                            <span class="card-title">Asignar COBRO</span>
                        <div class="row">
                            <div class="col s10 offset-s1 input-field">
                                <input id="matricula" type="text" required="" autocomplete="off" class="validate">
                                <label for="matricula">Matricula</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s10 offset-s1 input-field">
                                <input id="concepto" type="text" required="" autocomplete="off" class="validate">
                                <label for="concepto">Concepto</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col s10 offset-s1 input-field">
                                <input id="monto" type="number" required="" autocomplete="off" class="validate">
                                <label for="monto">Monto</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col 8 offset-s2">
                                <button id="AsignarCobroBtn" class="btn waves-effect waves-light red" type="button">ASIGNAR COBRO</button>
                            </div>
                        </div>
                    </div>
                <br>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

<script>
    var $jscomp = $jscomp || {}; $jscomp.scope = {}; $jscomp.findInternal = function (a, b, c) { a instanceof String && (a = String(a)); for (var e = a.length, d = 0; d < e; d++) { var f = a[d]; if (b.call(c, f, d, a)) return { i: d, v: f } } return { i: -1, v: void 0 } }; $jscomp.ASSUME_ES5 = !1; $jscomp.ASSUME_NO_NATIVE_MAP = !1; $jscomp.ASSUME_NO_NATIVE_SET = !1; $jscomp.SIMPLE_FROUND_POLYFILL = !1; $jscomp.ISOLATE_POLYFILLS = !1;
    $jscomp.defineProperty = $jscomp.ASSUME_ES5 || "function" == typeof Object.defineProperties ? Object.defineProperty : function (a, b, c) { if (a == Array.prototype || a == Object.prototype) return a; a[b] = c.value; return a }; $jscomp.getGlobal = function (a) { a = ["object" == typeof globalThis && globalThis, a, "object" == typeof window && window, "object" == typeof self && self, "object" == typeof global && global]; for (var b = 0; b < a.length; ++b) { var c = a[b]; if (c && c.Math == Math) return c } throw Error("Cannot find global object"); }; $jscomp.global = $jscomp.getGlobal(this);
    $jscomp.IS_SYMBOL_NATIVE = "function" === typeof Symbol && "symbol" === typeof Symbol("x"); $jscomp.TRUST_ES6_POLYFILLS = !$jscomp.ISOLATE_POLYFILLS || $jscomp.IS_SYMBOL_NATIVE; $jscomp.polyfills = {}; $jscomp.propertyToPolyfillSymbol = {}; $jscomp.POLYFILL_PREFIX = "$jscp$"; var $jscomp$lookupPolyfilledValue = function (a, b) { var c = $jscomp.propertyToPolyfillSymbol[b]; if (null == c) return a[b]; c = a[c]; return void 0 !== c ? c : a[b] };
    $jscomp.polyfill = function (a, b, c, e) { b && ($jscomp.ISOLATE_POLYFILLS ? $jscomp.polyfillIsolated(a, b, c, e) : $jscomp.polyfillUnisolated(a, b, c, e)) }; $jscomp.polyfillUnisolated = function (a, b, c, e) { c = $jscomp.global; a = a.split("."); for (e = 0; e < a.length - 1; e++) { var d = a[e]; if (!(d in c)) return; c = c[d] } a = a[a.length - 1]; e = c[a]; b = b(e); b != e && null != b && $jscomp.defineProperty(c, a, { configurable: !0, writable: !0, value: b }) };
    $jscomp.polyfillIsolated = function (a, b, c, e) {
        var d = a.split("."); a = 1 === d.length; e = d[0]; e = !a && e in $jscomp.polyfills ? $jscomp.polyfills : $jscomp.global; for (var f = 0; f < d.length - 1; f++) { var l = d[f]; if (!(l in e)) return; e = e[l] } d = d[d.length - 1]; c = $jscomp.IS_SYMBOL_NATIVE && "es6" === c ? e[d] : null; b = b(c); null != b && (a ? $jscomp.defineProperty($jscomp.polyfills, d, { configurable: !0, writable: !0, value: b }) : b !== c && ($jscomp.propertyToPolyfillSymbol[d] = $jscomp.IS_SYMBOL_NATIVE ? $jscomp.global.Symbol(d) : $jscomp.POLYFILL_PREFIX + d, d =
            $jscomp.propertyToPolyfillSymbol[d], $jscomp.defineProperty(e, d, { configurable: !0, writable: !0, value: b })))
    }; $jscomp.polyfill("Array.prototype.find", function (a) { return a ? a : function (b, c) { return $jscomp.findInternal(this, b, c).v } }, "es6", "es3");
    (function (a) { "function" === typeof define && define.amd ? define(["jquery", "datatables.net"], function (b) { return a(b, window, document) }) : "object" === typeof exports ? module.exports = function (b, c) { b || (b = window); c && c.fn.dataTable || (c = require("datatables.net")(b, c).$); return a(c, b, b.document) } : a(jQuery, window, document) })(function (a, b, c, e) {
        var d = a.fn.dataTable; a.extend(!0, d.defaults, {
            dom: "<'row'<'col s12 m6'l><'col s12 m6'f>><'row'<'col s12'tr>><'row'<'col s12 m12'i><'col s12 m12 center'p>>",
            renderer: "materializecss"
        }); a.extend(d.ext.classes, { sWrapper: "dataTables_wrapper", sFilterInput: "", sLengthSelect: "", sProcessing: "dataTables_processing", sPageButton: "" }); d.ext.renderer.pageButton.materializecss = function (f, l, A, B, m, t) {
            var u = new d.Api(f), C = f.oClasses, n = f.oLanguage.oPaginate, D = f.oLanguage.oAria.paginate || {}, h, k, v = 0, y = function (q, w) {
                var x, E = function (p) {
                    p.preventDefault();
                    a(p.currentTarget).hasClass("disabled") || u.page() == p.data.action || u.page(p.data.action).draw("page")
                }; var r = 0; for (x = w.length; r < x; r++) {
                    var g = w[r]; if (Array.isArray(g)) y(q, g); else {
                        k = h = ""; switch (g) { case "ellipsis": h = "&#x2026;"; k = "disabled"; break; case "first": h = n.sFirst; k = g + (0 < m ? "" : " disabled"); break; case "previous": h = n.sPrevious; k = g + (0 < m ? "" : " disabled"); break; case "next": h = n.sNext; k = g + (m < t - 1 ? "" : " disabled"); break; case "last": h = n.sLast; k = g + (m < t - 1 ? "" : " disabled"); break; default: h = g + 1, k = m === g ? "active" : "" }if (h) {
                            var F =
                                a("<li>", { "class": C.sPageButton + " " + k, id: 0 === A && "string" === typeof g ? f.sTableId + "_" + g : null }).append(a("<a>", { href: "#", "aria-controls": f.sTableId, "aria-label": D[g], "data-dt-idx": v, tabindex: f.iTabIndex, "class": "" }).html(h)).appendTo(q); f.oApi._fnBindAction(F, { action: g }, E); v++
                        }
                    }
                }
            }; try { var z = a(l).find(c.activeElement).data("dt-idx") } catch (q) { } y(a(l).empty().html('<ul class="pagination"/>').children("ul"), B); z !== e && a(l).find("[data-dt-idx=" + z + "]").trigger("focus")
        }; return d
    });
</script>

<script>

$(document).ready( function () {

    // Initialize the DataTable
     var table = $('#myTable').DataTable();
     $('select').formSelect();  

    // Add click event listener to table rows
    $('#myTable tbody').on('click', 'tr', function(){
        // Deselect previously selected rows
        if (!$(this).hasClass('selected')) {
            table.$('tr.selected').removeClass('selected');
        }
        // Highlight selected row
        $(this).toggleClass('selected');  
        
        // Aquí es donde agregas el código para llenar el campo de matrícula
        var nombre = $(this).data('nombre');
        if (nombre) {
            // Suponiendo que el campo de matrícula tiene el id 'matricula'
            $('#matricula').val(nombre);
        }
    });
    });
</script>

<%- include('partials/footer.ejs') %>

