<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<main class="container" style="margin-top: 2rem;">
    <div class="row">
        <!-- Columna para Seleccionar Método de Pago -->
    <div class="col s12 m4">
        <h5>Selecciona plan de pago:</h5>
            <div class="row">
                <div class="col s6">
                    <p>
                        <label>
                            <input name="payment_method" type="radio" />
                                <span>
                                <strong><big>Tarjeta</big></strong>
                                <img src="https://w7.pngwing.com/pngs/117/675/png-transparent-visa-and-mastercard-ads-mastercard-credit-card-american-express-visa-debit-card-mastercard-text-payment-logo.png" alt="Tarjeta de crédito" style="width: 50px; height: auto;">
                                </span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="payment_method" type="radio" />
                            <span><strong><big>Transferencia</big></strong></span>
                        </label>
                    </p>
                    <p>
                        <label>
                            <input name="payment_method" type="radio" />
                            <span><strong><big>Efectivo</big></strong></span>
                        </label>
                    </p>
                </div>
                <!-- Añadir más opciones de pago aquí -->
            </div>
        </div>     
        <!-- Columna para los Datos de Pago -->
        <h5>Resumen</h5>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Plan 5</span>
                    <div class="row">
                        <div class="col s6">
                            <p>Pago inicial 23%</p>
                            <p>Pago mensual</p>
                        </div>
                        <div class="col s6">
                            <p>$3,277.5</p>
                            <p>$2,194.5</p>
                        </div>
                    </div>
                    <tr>
                        <td colspan="3"><hr></td> <!-- Línea para indicar los títulos de las columnas -->
                    </tr>
                    <div class="row">
                        <div class="col s6">
                            <p>Mes 1</p>
                            <p>Mes 2</p>
                            <p>Mes 3</p>
                            <p>Mes 4</p>
                            <p>Mes 5</p>
                        </div>
                        <div class="col s6">
                            <p>$5,472</p>
                            <p>$2,194.5</p>
                            <p>$2,194.5</p>
                            <p>$2,194.5</p>
                            <p>$2,194.5</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Botones de aceptar y rechazar -->
<% if (typeof includeContent !== 'undefined' && includeContent && typeof content !== 'undefined') { %>
    <div class="container">
        <%- content %>
    </div>
<% } %>

<div class="container section">
    <div class="row">
        <div class="col s6">
            <a href="#idaceptar" class="btn modal-trigger red">Regresar</a>
        </div>
        <div class="col s6 right-align">
            <a href="#idrechazar" class="btn modal-trigger red">Continuar</a>
        </div>
    </div>
</div>

<%- include('partials/footer.ejs') %>
