<%- include('partials/head.ejs') %>
<%- include('partials/header.ejs') %>

<h1 class="centrado">Reportes</h1>
<img src="images/reporte.png" alt="Logo" class="center-image">

<%- include('partials/footer.ejs') %>
